*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;

}
body{
    background-color: rgb(24, 24, 24);
    color:white;
}
#header{
width: 100%;
height:100vh;
background-image: url(images/bg.png);
background-size: cover;
background-position:center;
background-attachment:fixed;
}

.container{
    padding: 10px 10%;
}

.logo{
    width: 140px;

}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

nav u1 li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px ;
}

nav u1 li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav u1 li a::after{
    content:"";
    width: o;
    height: 4px;
    background:rgb(255, 3, 3);
    position:absolute;
    left:0;
    bottom: -12px;
    transition: 0.4s;

}
nav u1 li a:hover::after{
    width: 100%;
}

.header-text{
margin-top: 20%;
font-size: 30px;
}

.header-text h1{
font-size: 60px;
margin-top:20px ;
}

.header-text span{
    color:rgb(253, 5, 34);   
}

/* about section */
     #about{
      padding: 80px 0;
      color:hwb(180 91% 6%);
     }


   .row {
    display:flex;
    justify-content:space-between ;
    flex-wrap: wrap;
   }


.about-col-1  {
  flex-basis:35% ;  
}

.about-col-1 img {
    width:100% ;
    border-radius: 15px;  
  }

.about-col-2 {
    flex-basis: 60% ;  
  }

  .tab-titles  {
   display: flex;
   margin: 20px 0 40px; 
  }

  .tab-links{
    margin-right: 50px;
     font-size:18px;
     font-weight: 500;
     cursor: pointer;
      position: relative;
  }

  .tab-links::after{
content: "";
width: 0;
height: 4px;
background-color: rgb(206, 32, 61);
position: absolute;
left:0;
bottom: -8px;
transition:o.4s;

  }

  .tab-links.active-link::after{
    width: 100%;
  }

  .tab-contents u1 li{
    list-style: none;
    margin:20px;

  }

  .tab-contents u1 li span{
    color:rgb(18, 230, 68);
    font-size: 17px;
  }
  .tab-contents{
    display: none;
  }
  .active-tab{
    display:block;
  }

 /*.about-col-1  */  
   
 #services{
  padding: 30px 0;
 }

 .services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px; 
 }
 .services-list div{
   background:rgb(185, 172, 164) ; 
   padding: 40px;
   font-size: 13px;
   font-weight: 400;
   border-radius:10px;
   transition: background 0.5s, transform 0.5s;

 }

 .services-list div:hover{
  background: rgb(225, 225, 122) ;
  transform: translate(-15px);
 }

 .services-list div i{
   font-size: 50px;
   margin-bottom: 30px;
 }
 

 .services-list h2{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;

}

/* portfolio */

#portfolio{
  padding:50px 0;

}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;

}

.work{
  border-radius: 15px;
  position: relative;
  overflow: hidden;

}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient( rgba(170, 136, 136, 0.6),green);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
/* contact info */


*{
margin:0px;
padding: 0px;
box-sizing: border-box;
font-family: sans-serif;

} 
.Contact{
min-height: 100vh;
background-color: rgb(11, 9, 13); 
padding: 50px;
text-align: center; 
}
.Container{
  max-width: 800px;
  margin: 0 auto;
}

.Container h2{
  font-size: 36px;
  margin-bottom: 40px;
  color:#f5f5f9;

}

.Contact-Wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.Contact-form{
  text-align: left;
}

.Contact-form h3{
  font-size:  24px;
  margin-bottom: 20px;
  color:rgba(239, 239, 249, 0.882);
}

.form-group{
  margin-bottom: 20px;
}

input, textarea{
  width: 100%;
  padding:12px;
  border-radius: 8px;
  border:none;
  background-color: hsl(0, 0%, 100%);
  color:rgb(130, 139, 0);
}

input:focus,
textarea:focus{
      outline:none;
      box-shadow: 0 0 8px #7e8367;

}

button{
  display: inline-block;
  padding: 12px 24px;
  background-color: rgb(54, 90, 90);
  color:#fff;
  border:none;
  cursor:pointer;
  transition:  0.3s ease;
}
button:hover{
  background-color: rgb(45, 46, 46);
}

.Contact-info{
   text-align: right;   
}

.Contact-info h3{
  font-size: 35px;
  margin-bottom: 20px;
  color:hwb(231 91% 4%);
}
.Contact-info p{
  margin-bottom:  20px;
  color:#e3dede;
}

.Contact-info i{
color:#d13c3c;
margin-right: 10px;
}

@media screen and (max-width: 768px){
  .Container{
    padding: 20px;
  }
  .Contact-Wrapper{
    grid-template-columns:  1fr;
   
  }
  

}
